<p>cadastro works!</p>

<hr>
<form action="">
    Login:<br>
    <input type="text" name = "login"><br><br>

    Name:<br>
    <input type="text" name = "name"><br><br>

    Email:<br>
    <input type="text" name = "email"><br><br>

    Senha:<br>
    <input type="password" name = "password"><br><br>

    Confirma Password:<br>
    <input type="password" name = "confirmaPassword"><br><br>

    IdEmpresa:<br>
    <input type="text" name = "idEmpresa"><br><br>

    Status:<br>
    <input type="text" name = "status"><br><br>

    Role:<br>
    <input type="text" name = "role"><br><br>

    Email:<br>
    <input type="text" name = "Email"><br><br>

    RegId:<br>
    <input type="password" name = "regId"><br><br>

    status:<br>
    <input type="password" name = "regId"><br><br>

    <input type="submit" value="login"><br>

</form>
