<h1>Login</h1>

<hr>
<br>

<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [(ngModel)]="login.email" [formControl]="email" required />
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <br>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [(ngModel)]="login.password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <br>
    <br>
    <div class="example-button-row">
      <button mat-raised-button color="primary">Entrar</button>
      <button mat-raised-button color="primary" [routerLink]="['/create-account']">Criar conta</button>
      <button type="button" class="btn btn-primary btn-block">Criar conta</button>
    </div>
</div>